<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Register</title>
    <link rel="stylesheet" href="{% static 'css.css' %}">
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <div class="form-box" id="register">
        <h2>Register</h2>
        <form method="POST" action="/register/">
            {{ form.non_field_errors }}
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.confirm_password.errors }}
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <div class="g-recaptcha" data-sitekey="6LeTq9crAAAAAIWCY7bxqcLayd5bBg9zqig27nwN"></div>
    <label for="terms" class="checkbox-label">
        <input id="terms" type="checkbox" name="terms" required />
        I have read and agree to the terms.
    </label>
    <button type="submit" id="registerBtn" required>Register</button>
</form>
    </div>


    <div class="login-box" id="login">
        <h2>Login</h2>
        <form method="POST" action="/login/">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
        </form>
    </div>
</div>
<a class="terms-link" href="https://domain.something/terms" target="_blank">Read our terms here</a>
</body>
</html>